.container {
    margin: 32px 0;
}

.content {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.titel {
    font-size: 48px;
    color: var(--title-colour);
    font-weight: 400;
}

.titel_h3 {
    font-size: 24px;
    color: var(--title-colour);
    margin-bottom: 24px;
    font-weight: 400;
}

.cards_container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
}

.card {
    border: var(--border-card);
    background: var(--background-card);
    padding: 32px;
    border-radius: 16px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.title_card {
    font-size: 20px;
    font-weight: 400;
    color: var(--title-colour);
}

.delete {
    border: var(--border-main-colour);
    background-color: transparent;
    color: var(--main-colour);
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 50px;
    padding: 8px 24px;
}