.cards_container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Три колонки однакової ширини */
    gap: 24px;
}

.img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 16px;
}

.card {
    border: var(--border-card);
    background: var(--background-card);
    padding: 32px;
    border-radius: 16px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.title_card {
    font-size: 20px;
    font-weight: 400;
    color: var(--title-colour);
}

.icons {
    display: flex;
    gap: 16px;
}

.icons p,
.small_text {
    display: flex;
    align-items: center;
    gap: 4px;
}

.small_text,
.icons {
    color: var(--small_text-colour);
}

.avatar {
    width: 24px;
    height: 24px;
}