* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-colour: #2C786C;
  --title-colour: #292929;
  --text-colour: #485656;
  --light-colour: #ffffff;
  --small_text-colour: #5D7373;
  --background-card: #fff;
  --border-card: solid #D0D0D0 1px;
  --border-btn: solid #2C786C 1px;
  --border-main-colour: solid #2C786C 1px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--light-colour);
  color: var(--text-colour);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.center-container {
  min-height: 100vh;
}

.footer-back {
  color: var(--light-colour);
  background-color: var(--main-colour);
}