.titel {
    font-size: 48px;
    color: var(--title-colour);
    font-weight: 400;
}

.subtitle {
    font-size: 16px;
}

.text_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}