.menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titel_h3 {
    font-size: 24px;
    color: var(--title-colour);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
}